<template>
    <div id="app">
        <div class="menu" />
        <div class="main">
            <div class="header" />
            <WidgetMaker class="content" />
            <div class="footer" />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import WidgetMaker from "./components/WidgetMaker.vue";

@Component({
    components: {
        WidgetMaker,
    },
})
export default class App extends Vue { }
</script>

<style lang="scss" scoped>
#app {
    display: flex;
    flex-direction: row;
    background: #e3e5e7;
    .menu {
        width: 60px;
        background: #1e266d;
    }
    .main {
        flex: 1;
        .header {
            width: 100%;
            height: 6px;
        }
        .content {
            margin: 60px;
        }
        .footer {
            width: 100%;
            height: 60px;
        }
    }
    @media (max-width: 720px) {
        flex-direction: column;
        .menu {
            height: 60px;
            width: 100%;
        }
        .main {
            .content {
                margin: 0;
            }
        }
    }
}
</style>
