
<template>
    <div class="accordeon-item">
        <div class="header" @click="click">{{ displayName || name }}</div>
        <transition name="accordeon-item">
            <div v-show="isActive">
                <slot name="default" />
            </div>
        </transition>
    </div>
</template>


<script lang="ts">
import { Component, Vue, Prop, Model } from "vue-property-decorator";

@Component
export default class Item extends Vue {
    @Prop() public name!: string;

    @Prop() public displayName!: string;

    public isActive: boolean = false;

    public click(): void { this.$emit("click", this); }

    public setActive(active: boolean): void {
        if (active) { this.$emit("activate", active); }
        this.isActive = active;
    }

}

</script>

<style scoped lang="scss">
.header {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
    height: 40px;
}

.accordeon-item-enter-active,
.accordeon-item-leave-active {
    transition: height 0.5s;
}
</style>
