<template>
    <div class="form">
        <slot name="header"></slot>

        <draggable v-model="value">
            <div v-for="(field, index) in value" :key="field.name">
                <Field class="field-block" @delete="deleteItem(index)" v-model="value[index]" />
            </div>
        </draggable>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import cyrillicToTranslit from "cyrillic-to-translit-js";
import Field from "./Field.vue";
import draggable from "vuedraggable";

interface IItemType {
    fieldType: string;
}

var translit = new cyrillicToTranslit();

function resolveSysName(value: string): string {
    return translit.transform(value, "_").toLowerCase();
}

@Component({ components: { Field, draggable } })
export default class Accordion extends Vue {
    public expanded = -1;

    @Prop({ default: [] })
    public value!: any[];


    @Watch("value", { deep: true })
    public onChange(value: object) {
        this.$emit("change", value);
        this.$emit("input", value);
    }



    public deleteItem(index: number) {
        this.value.splice(index, 1);
    }

}
</script>

<style lang="scss" scoped>
.form {
    width: 100%;
    padding: 20px;
    .header {
        text-align: right;
        .addComponent {
            box-sizing: border-box;
            background: white;
            border-style: dotted;
            border-width: 1px;
        }
    }
    .field-block {
        margin-top: 20px;
    }
}

.header {
    position: relative;
    ul {
        list-style-type: none;
        font-weight: normal;
        margin-left: 0;
        padding-left: 10px;
    }
    .menu {
        position: absolute;
        z-index: 100000;
        top: 100%;
        width: 100%;
        text-align: left;
        background-color: white;
        box-shadow: 0px 3px 10px rgba(61, 70, 77, 0.15);
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: SF UI Display;
        font-size: 13px;
        line-height: 17px;
        font-weight: bold;
        .group-header,
        .item {
            height: 40px;
            &:hover {
                background: #f8fafc;
            }
            a {
                width: 100%;
            }
        }
    }
}
</style>



