<template>
    <div class="columns-container">
        <div
            class="column-button"
            :class="{ active: item == current }"
            v-for="item in maxColumnCount"
            :key="item"
            @click="handle(item)"
        >
            <div v-for="block in item" :key="block" class="rect" :style="{ width: 90/item + '%' }"></div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";


@Component
export default class Columns extends Vue {
    @Prop()
    public value?: number;

    public current = 1;

    public maxColumnCount: number = 3;

    mounted() { this.current = this.value || 1; }

    public handle(value: number): void {
        this.$nextTick(() => {
            console.log(value);
            this.current = value;
            this.$emit("change", value);
            this.$emit("input", value);
        });
    }

}
</script>

<style lang="scss" scoped>
.columns-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;

    justify-content: space-between;
    width: 150px;
    .column-button {
        width: 20px;
        height: 20px;
        color: grey;
        &.active {
            color: green;
        }

        display: flex;
        justify-content: space-between;
        .rect {
            background-color: black;
            opacity: 0.5;
            height: 100%;
        }
        &.active {
            .rect {
                background-color: green;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}
</style>

