<template>
    <form class="field-container" :class="{ collapsed: collapsed }">
        <div class="field" @click.prevent="toggleCollapse">
            <div class="left">
                <!-- <img class="handler" src="@/assets/drag_handle.svg" alt /> -->
                <i class="material-icons icon">{{value.icon || "title"}}</i>
                <span type="text" class="name">{{value.name}}</span>
            </div>
            <div class="right">
                <span
                    type="text"
                    class="systemName"
                >{{value.systemName ? `[${value.systemName}]` : ""}}</span>
            </div>
        </div>
        <slot name="body"></slot>
        <div class="collapsible" v-if="!collapsed">
            <!-- <switches v-model="value.required" label="Обязательный ввод"></switches> -->
            <label>
                Заголовок
                <input type="text" class="title" v-model="value.title" />
            </label>
            <label>
                Плэйсхолдер
                <input type="text" class="placeHolder" v-model="value.placeholder" />
            </label>
            <label>
                Описание
                <input type="text" class="description" v-model="value.description" />
            </label>
            <div class="field-footer">
                <label>
                    Компоновка
                    <Columns v-model="value.column" />
                </label>
                <button class="delete" @click="$emit('delete')">
                    Удалить
                    <i class="material-icons icon">delete</i>
                </button>
            </div>
        </div>
    </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import Columns from "./Columns.vue";
import { IField } from "defaults";
// import Switches from "vue-switches/src/switches.vue";

@Component({ components: { Columns/*, Switches */ } })
export default class Field extends Vue {
    @Prop()
    public value?: IField;

    public toggleCollapse(e: MouseEvent) {
        const selection = window.getSelection();
        if (selection && selection.toString()) {
            const focusElement = selection.focusNode && selection.focusNode.parentElement;
            if (focusElement && focusElement.tagName === "SPAN") return;
        }
        const collapsed = this.collapsed = !this.collapsed;
        if (!collapsed) {
            Vue.nextTick(() => {
                const input = this.$el.querySelector(".collapsible  input") as HTMLInputElement;
                if (input) {
                    input.focus();
                }
            });
        }

    }

    @Watch("value", { deep: true })
    public onChange(value: object) {
        this.$emit("change", value);
        this.$emit("input", value);
    }

    @Prop({ default: true }) collapsed;

}
</script>

<style lang="scss" scoped>
.delete {
    background: none;
    border: none;
    > i {
        vertical-align: middle;
    }
    &:hover {
        cursor: pointer;
        color: #4285f4;
    }
}

.field-container {
    border-radius: 6px;
    border: 2px solid #f2f5f9;
    // padding-left: 10px;
    // padding-right: 10px;
    &.collapsed {
        background: #f2f5f9;
    }
}

.field {
    span {
        padding: 5px;
    }
    i,
    .handler,
    .more {
        opacity: 0.5;
        vertical-align: middle;
        font-size: 16px;
        line-height: 30px;
        width: 24px;
        text-align: center;
        user-select: none;
    }
    display: flex;

    justify-content: space-between;

    padding: 5px;
    height: 100%;
    line-height: 30px;

    input {
        display: inline-block !important;
        margin-top: 5px !important;
        width: auto !important;
        height: 20px !important;
        background-color: transparent !important;
    }
}

.collapsible {
    padding: 0 20px 20px 20px;
    input {
        display: block;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }
    label,
    .field-footer {
        display: block;
        margin-top: 20px;
    }
    .field-footer {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            display: flex;
            margin-top: 0;
            width: 270px;
            justify-content: space-between;
            > div {
                margin-right: 5px;
            }
        }
    }
}
// .vue-switcher {
//     display: flex !important;
//     flex-direction: row !important;
//     span {
//         font-size: inherit;
//         order: 1;
//         margin-left: 10px;
//     }
// }

.vue-switcher-theme--default {
    div {
        background-color: lighten(#15cd95, 10%) !important;
        height: 20px;
        &:after {
            // for the circle on the switch
            background-color: #f8f8f8 !important;
            top: 1px;
            left: calc(100% - 2px);
            height: 18px;
            width: 18px;
        }
    }

    &.vue-switcher--unchecked {
        div {
            &:after {
                left: 20px;
            }
        }
    }
}
</style>

