<template>
    <Accordion v-model="value">
        <template v-slot:header>
            <form class="header" @submit.prevent="enter">
                <input
                    class="addComponent"
                    placeholder="Добавить элемент"
                    @click="clickMenu"
                    @blur="blurMenu"
                    v-model="enteredValue"
                />
                <ul class="menu" v-if="menuShown">
                    <li v-for="(group, name) in fields" :key="name">
                        <div class="group-header">{{ name }}</div>
                        <ul class="group">
                            <li
                                class="item"
                                v-for="field in group"
                                :key="field.name"
                                @click="addComponent(field)"
                            >{{ field.name }}</li>
                        </ul>
                    </li>
                </ul>
            </form>
        </template>
    </Accordion>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import cyrillicToTranslit from "cyrillic-to-translit-js";
import Field from "./Field.vue";
import Accordion from "./Accordion.vue";

export const defaultFields: any[] = [{
    name: "EMail",
    icon: "mail",
    required: true,
    title: "Поле Email",
    placeholder: "Email",
    group: "Элементы данных",
    systemName: "email",
    column: 3,
}, {
    name: "Имя",
    icon: "title",
    title: "Поле имя",
    placeholder: "Имя",
    group: "Элементы данных",
    systemName: "name",
    column: 3,
}, {
    name: "Телефон",
    icon: "phone",
    required: true,
    title: "Поле Телефон",
    placeholder: "Телефон",
    group: "Элементы данных",
    systemName: "phone",
    column: 3,
}, {
    name: "Подписка",
    required: true,
    fieldType: "submit",
    icon: "check",
    group: "Кнопки",
    title: "Подписаться",
    column: 3,
}, {
    name: "Подтверждение",
    fieldType: "confirm",
    icon: "check_box",
    systemName: "confirmation",
    group: "Элементы данных",
    title: "Я соглашаюсь с условиями обработки персональных данных",
    column: 1,
}];


interface IItemType {
    fieldType: string;
}

var translit = new cyrillicToTranslit();

function resolveSysName(value: string): string {
    return translit.transform(value, "_").toLowerCase();
}


@Component({ components: { Field, Accordion } })
export default class Form extends Vue {
    @Prop({ default: [] })
    public value!: any[];

    public enteredValue: string = "";

    public enter() {
        const name = this.enteredValue;
        this.addComponent({
            name: name,
            title: name,
            placeholder: name,
            systemName: resolveSysName(name)
        });
    }

    @Watch("value", { deep: true })
    public onChange(value: object) {
        this.$emit("change", value);
        this.$emit("input", value);
    }


    public clickMenu() { this.menuShown = true; }

    public blurMenu() { setTimeout(() => this.menuShown = false, 200); }

    public addComponent(field) {
        console.log(arguments);
        this.value.unshift(field);
    }

    private menuShown = false;

    public get fields() {
        if (this.value) {
            const valueFieldsHash = this.value.reduce((res, v) => ((res[v.name] = true), res), {});
            return defaultFields.filter(field => !valueFieldsHash[field.name]).reduce((res, v) => (v.group && (res[v.group] || (res[v.group] = [])).push(v), res), {});
        }
    }


}
</script>

<style lang="scss" scoped>
.form {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    .header {
        text-align: right;
        .addComponent {
            box-sizing: border-box;
            background: white;
            border-style: dotted;
            border-width: 1px;
        }
    }
    .field-block {
        margin-top: 20px;
    }
}

.header {
    position: relative;
    ul {
        list-style-type: none;
        font-weight: normal;
        margin-left: 0;
        padding-left: 10px;
    }
    .menu {
        position: absolute;
        z-index: 100000;
        top: 100%;
        width: 100%;
        text-align: left;
        background-color: white;
        box-shadow: 0px 3px 10px rgba(61, 70, 77, 0.15);
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: SF UI Display;
        font-size: 13px;
        line-height: 17px;
        font-weight: bold;
        .group-header,
        .item {
            height: 40px;
            &:hover {
                background: #f8fafc;
            }
            a {
                width: 100%;
            }
        }
    }
}
</style>



