<template>
    <label :class="[property.type + '-field' , 'field']">
        <slot name="title">{{ label }}</slot>
        <slot name="editor">
            <div class="editor">
                <select v-if="property.type === 'enum' && valuesArr" v-model="mutationValue">
                    <option
                        v-for="(option, key) in valuesArr"
                        :key="key"
                        :value="option"
                    >{{ option }}</option>
                </select>
                <input
                    v-else-if="property.type === 'boolean'"
                    type="checkbox"
                    v-model="mutationValue"
                />
                <input v-else-if="property.type === 'string'" type="string" v-model="mutationValue" />
                <vue-ckeditor
                    class="string"
                    types="inline"
                    :config="CKEditorConfig()"
                    v-else-if="property.type === 'area'"
                    v-model="mutationValue"
                />
                <input
                    v-else-if="property.type === 'integer'"
                    v-model="mutationValue"
                    type="number"
                    :step="property.step||1"
                />
                <input
                    v-else-if="property.type === 'color'"
                    @click="colorClick"
                    v-model="mutationValue"
                />
                <input
                    v-else-if="property.type === 'image'"
                    placeholder="https://anysite.com/picture.jpg"
                    v-model="mutationValue"
                    type="url"
                />
                <button class="uploadButton" v-if="property.type === 'image'">
                    Upload
                    <i class="material-icons">cloud_upload</i>
                </button>
            </div>
        </slot>
    </label>
</template>

<script lang="ts">
import { Component, Vue, Prop, Model, Watch } from "vue-property-decorator";
import { IObjectProperty } from '../../core/scheme/components';

import Ckeditor from 'ckeditor';
import VueCkeditor from 'vue-ckeditor2';
import '@easylogic/colorpicker/dist/colorpicker.css';
import ColorPickerUI from '@easylogic/colorpicker'

// TODO: Разделить класс
@Component({ components: { VueCkeditor } })
export default class Field extends Vue {
    @Prop() public label!: string;
    @Prop() public property!: IObjectProperty;
    @Prop() public value!: any;

    private colorPicker: any;
    private mutationValue: any = this.value || this.default;

    private get default() {
        if (this.property.default !== void 0) { return this.property.default; }
        switch (this.property.type) {
            case "color": return "#000000"
            case "integer": return 0;
            default: return "";;
        }
    }

    private get valuesArr(): string[] { return typeof this.property.values === "string" ? this.property.values.split(",") : this.property.values; }

    @Watch("mutationValue", { deep: true })
    public valueChanged(value: any, oldValue: any) {
        this.$emit("change", value, oldValue);
        this.$emit("input", value, oldValue);
    }

    public colorClick(e: MouseEvent) {
        console.log(e);
        const colorPicker = this.colorPicker || (this.colorPicker = ColorPickerUI.create({
            type: "sketch",
            color: this.mutationValue,
            onChange: c => {
                this.mutationValue = c;
            }
        }));
        colorPicker.show({ left: e.pageX, top: e.pageY });

    }

    // public CKEditorBuild = InlineEditor;

    public CKEditorConfig() {
        return {
            title: false,
            toolbarGroups: [
                { name: "basicstyles", groups: ["basicstyles", "cleanup"] },
                { name: "paragraph", groups: ["align"] },
                { name: "paragraph", groups: ["list"] },
                { name: "clipboard", groups: ["undo"] },
                { name: "links", groups: ["links"] },
                { name: "insert", groups: ["insert"] },
                { name: "document", groups: ["mode", "document", "doctools"] },
            ],
            removeButtons: "Heading,Cut,Copy,Paste,PasteText,Undo,Redo,Anchor,Underline,Subscript,Superscript,Anchor,JustifyLeft,JustifyRight,JustifyBlock",
            removeDialogTabs: "link:target;link:advanced;image:advanced",
            removePlugins: ["cloudservices"],
            embed_provider: "//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}",
            allowedContent: true,
            templates_replaceContent: false,
            autoParagraph: false,
            enterMode: VueCkeditor.ENTER_BR,
            shiftEnterMode: VueCkeditor.ENTER_BR
        }
    }
}

</script>

<style scoped lang="scss">
$input-color: #f2f5f9;
$input-border-radius: 6px;
.field {
    display: flex;
    flex-direction: column;
    color: #758192;
    &.boolean-field {
        flex-direction: row-reverse;
        & > .title {
            flex: 1;
        }
        & > .editor {
            width: 40px;
            margin-top: -12px;
            input {
                width: 20px;
            }
        }
    }
    .editor,
    .editor > input,
    .editor > select,
    .editor > .ck-editor {
        border: none;
        min-height: 40px;
        width: 100%;
    }
    .editor {
        display: flex;
        color: #4b5862;
        border: none;
        min-height: 40px;
        width: 100%;
        margin-bottom: 30px;
        & > input,
        & > select,
        .ckeditor {
            border-radius: $input-border-radius;
            background: $input-color;
            padding: 0 20px;
            box-sizing: border-box;
            width: 100%;
        }
        .uploadButton {
            margin-left: 10px;
            height: 40px;
        }
    }
}
</style>

<style lang="scss">
.field {
    .editor {
        .cke_editable {
            padding: 10px 0;
        }
    }
}
.colorpicker-body {
    display: block;
}
</style>
