
<template>
    <div class="accordeon">
        <slot />
    </div>
</template>


<script lang="ts">
import { Component, Vue, Prop, Model } from "vue-property-decorator";
import Item from "./accordeon/Item.vue";

@Component({ components: { Item } })
export default class Accordeon extends Vue {
    private activeTab?: Item;

    @Model("tabChange")
    private tab!: Item;

    private tabs!: Item[];

    public mounted(): void {
        this.tabs = this.$children as Item[];
        this.setActiveTab(this.tabs[0]);
        this.$children.forEach((child) => child.$on("click", this.click));
    }

    public beforeDestroy(): void {
        this.$children.forEach((child) => child.$off("click", this.click));
    }

    protected setActiveTab(tab?: Item): void {
        if (this.activeTab) {
            this.activeTab.setActive(false);
        }
        this.activeTab = tab;
        if (tab) { tab.setActive(true); }
    }

    protected click(tab: Item) {
        this.setActiveTab(tab != this.activeTab ? tab : void 0);
        this.$emit("tabChange", tab);
    }
}

export { Item };

</script>

<style scoped lang="scss">
</style>
