<template>
    <div class="content-editor"></div>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import Scheme from "../utils/config/variable";
import JsonEditor from "./JsonEditor.vue";

@Component({ components: { JsonEditor } })
export default class ContentEditor extends Vue {
    @Prop() public model!: object;
    @Prop() public scheme!: Scheme;

    mounted() {
        console.log(this.scheme);
    }
}
</script>

<style scoped lang="scss">
</style>
