<template>
    <div v-if="bottomVisible" :class="[!buttomCollapsed ? 'expanded' : '', 'bottom-panel']">
        <div class="splitter" @mousedown="splitterMouseDown">
            <a class="collapse-button" @click.prevent.stop="collapseClick">
                <i
                    class="material-icons collapse-icon"
                >{{buttomCollapsed ? "unfold_more" : "chevron_right" }}</i>
            </a>
        </div>
        <transition name="editors">
            <div v-if="!buttomCollapsed" class="editors" :style="{ height: bottomHeight + 'px' }">
                <slot></slot>
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

const bottomPart = 1 / 2;
const splitterDelta = 2;
const defaultPanelHeight = 150;

@Component
export default class EditorPanel extends Vue {
    /** Флаг активности нижней панели */
    private bottomVisible: boolean = false;

    private dragging: boolean = false;

    private buttomCollapsed: boolean = true;

    private bottomHeight: number = defaultPanelHeight;

    public mounted(): void { this.initEvents(); }

    public beforeDestroy(): void { this.disposeEvents(); }

    /**
     * Событие перемещения курсора мыши
     */
    public mouseMove(e: MouseEvent): void {
        if (this.buttomCollapsed) {
            this.bottomVisible = e.clientY > window.innerHeight * (1 - bottomPart);
        } else if (this.dragging) {
            const newHeight = window.innerHeight - e.clientY;
            if (Math.abs(this.bottomHeight - newHeight) > splitterDelta) {
                this.bottomHeight = window.innerHeight - e.clientY;
            }
        }
    }

    protected initEvents(): void {
        document.addEventListener("mousemove", this.mouseMove);
    }

    protected disposeEvents(): void {
        document.removeEventListener("mousemove", this.mouseMove);
    }

    protected collapseClick(e: MouseEvent): void {
        this.buttomCollapsed = !this.buttomCollapsed;
    }

    protected splitterMouseDown(e: MouseEvent): void {
        if (this.bottomVisible && !this.buttomCollapsed) {
            this.dragging = true;
            document.addEventListener("mouseup", this.splitterMouseUp, { once: true });
        }
    }

    protected splitterMouseUp(e: MouseEvent): void {
        this.dragging = false;
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$monaco-background: #1e1e1e;
$monaco-hover-background: #0080ff;

.bottom-panel {
    &:hover,
    &.expanded {
        background-color: $monaco-background;
        .collapse-button {
            background-color: $monaco-background !important;
        }
    }
}

.expanded {
    .splitter {
        cursor: n-resize;
    }
}

.bottom-panel {
    position: fixed;
    background-color: $monaco-hover-background;
    bottom: 0;
    left: 0;
    right: 0;
    .splitter {
        // TODO: исправить для IE
        text-align: center;
        width: 100%;
        user-select: none;
        height: 10px;
        position: relative;
        .collapse-button {
            position: absolute;
            color: white;
            background-color: $monaco-hover-background;
            border: none;
            border-radius: 40px;
            top: -20px;
            width: 60px;
            height: 60px;
            z-index: -1;
            padding-top: 3px;
            .collapse-icon {
                transform: rotate(90deg);
            }
        }
    }
    .editors {
        width: 100%;
    }
    .editors-enter-active,
    .editors-leave-active {
        transition: height 0.5s;
        background-color: $monaco-background;
    }
    .editors-enter,
    .editors-leave-to {
        height: 0 !important;
    }
}
</style>
