<template>
    <div class="form">
        <div class="body">
            <slot />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Model } from "vue-property-decorator";


@Component
export default class EsFrom extends Vue {


}

</script>

<style scoped lang="scss">
$form-padding: 20px 30px;
$form-color: white;

.form {
    background: $form-color;
    border-radius: 6px;
    .body {
        display: flex;

        position: relative;
        flex-direction: column;
        padding: $form-padding;
    }
}
</style>
