<template>
    <LpForm>
        <div v-for="(property) in properties" :key="property.name">
            <label class="form-item">
                <form-editor v-if="property.type=='form'" v-model="value[property.name]" />
                <auto-field v-else :property="property" v-model="value[property.name]">
                    <template v-slot:title>
                        <div class="title">
                            <popup class="variable-menu" :ref="'popup' + property.name">
                                <auto-field
                                    label="Название параметра"
                                    :property="{ type: 'string' }"
                                    v-model="property.title"
                                />
                                <auto-field
                                    label="Тип параметра"
                                    :property="{ type: 'enum', values: ['string', 'integer', 'area', 'color', 'boolean', 'enum', 'image'] }"
                                    v-model="property.type"
                                />
                                <auto-field
                                    v-if="property.type=='enum'"
                                    label="Значения"
                                    :property="{ type: 'string'}"
                                    v-model="property.values"
                                />
                            </popup>
                            <span>{{ property.title }}</span>
                            <a @click="clickOptions(property.name)">
                                <i class="material-icons options">settings</i>
                            </a>
                        </div>
                    </template>
                </auto-field>
            </label>
        </div>
    </LpForm>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, Model } from "vue-property-decorator";
// import Form from './editors/Form.vue';
import { IObjectProperty, IProperty } from "../core/scheme/components";
import InlineEditor from "@ckeditor/ckeditor5-build-inline";
import CKEditor from "@ckeditor/ckeditor5-vue";
import Popup from "./Popup.vue";
import LpForm from "./Form.vue";
import AutoField from "./form/AutoField.vue";
import FormEditor from "./editor/Form.vue";



@Component({ components: { Popup, LpForm, AutoField, FormEditor } })
export default class JsonEditor extends Vue {
    @Prop()
    scheme?: IObjectProperty;
    @Prop()
    value?: object;
    public itemCls = "form-item";
    public innerCls = "form-item";
    public get properties() {
        const scheme = this.scheme;
        return scheme && scheme.properties || scheme;
    }

    public clickOptions(name: string) {
        const $refs = this.$refs;
        const popups = $refs["popup" + name];
        if (popups instanceof Array) {
            const popup = popups[0];
            if (popup instanceof Popup) { popup.show(); }
        }
    }

    @Watch("value", { deep: true })
    public onChange(value: object) {
        this.$emit("change", value);
        this.$emit("input", value);
    }

}
</script>

<style lang="scss">
.form {
    .variable-menu {
        width: 280px;
    }
    .form-item {
        .title {
            display: flex;
            position: relative;
            justify-content: space-between;
            .options {
                color: #919aa8;
                &:hover {
                    color: #333333;
                }
            }
        }
    }
}
</style>




