<template>
    <div class="monaco-outer">
        <tab-bar ref="tabs" class="tabs" v-model="tab">
            <slot />
        </tab-bar>
        <div class="monaco-container" />
    </div>
</template>

<script lang="ts">
import * as monaco from "monaco-editor/esm/vs/editor/editor.api";
import { Component, Prop, Vue, Watch, Model } from "vue-property-decorator";
import { editor as monacoEditor } from "monaco-editor";
import TabBar from "./TabBar.vue";
import Tab from "./monaco/Tab.vue";

export { Tab };

interface ModelHash { [name: string]: monacoEditor.ITextModel; }

@Component({ components: { Tab, TabBar } })
export default class Monaco extends Vue {
    private static models: ModelHash = {};

    public tab: Tab | null = null;

    public models: ModelHash = {};

    @Prop() lessVariables!: object;

    @Prop({ default: () => ({}) })
    public options!: monacoEditor.IEditorOptions;

    private editor!: monacoEditor.IStandaloneCodeEditor;

    private static unregisterVariables: monaco.IDisposable;

    public created() {
        this.lessChange(this.lessVariables);
    }

    public mounted(): void {
        const tabsComponent = this.$refs.tabs as Vue;
        const container = (this.$el as HTMLElement).querySelector(".monaco-container") as HTMLElement;
        const tabs = tabsComponent.$children as Tab[];
        // if (tabs.some((tab) => !(tab instanceof Tab))) {
        //     throw new Error();
        // }
        tabs.forEach((tab) => tab.$on("valueChange", (value: string) => {
            const model = this.models[tab.name];
            if (model.getValue() !== value) {
                model.setValue(value);
            }
        }));
        this.models = tabs.reduce((res, tab) =>
            (res[tab.name] = Monaco.models[tab.name] ||
                (Monaco.models[tab.name] = monacoEditor.createModel(tab.value, tab.lang,
                    monaco.Uri.parse(`file://${tab.file}`))), res), {} as ModelHash);
        const editor = this.editor = monacoEditor.create(container, {
            theme: "vs-dark",
            model: this.models[tabs[0].name],
            automaticLayout: true,
            ...this.options,
        });
        this.tab = tabs[0];
        editor.onDidChangeModelContent((e) => this.tab && this.tab.change(editor.getValue()));
    }

    public beforeDestroy(): void {
        const editor = this.editor;
        if (editor) { editor.dispose(); }
    }


    @Watch("tab")
    private modelChanged(value: Tab): void {
        const model = this.models[value.name];
        if (!model) { throw new Error(); }
        this.editor.setModel(model);
    }

    @Watch("lessVariables", { deep: true })
    private lessChange(values: object) {
        const unregisterVariables = Monaco.unregisterVariables;
        const variables = Object.keys(values).map(name => {
            const variable = values[name];
            const title = `@${name}`;
            return {
                label: title,
                kind: monaco.languages.CompletionItemKind.Variable,
                documentation: variable.desc,
                insertText: title
            };
        });
        if (unregisterVariables) { unregisterVariables.dispose(); }
        Monaco.unregisterVariables = monaco.languages.registerCompletionItemProvider('less', {
            provideCompletionItems: (model, position) => ({ suggestions: variables as any[] })
        });
    }

}
</script>


<style scoped lang="scss">
.monaco-outer {
    height: 100% !important;
    .tabs {
        margin-left: 50px;
        padding: 12px;
    }
    .monaco-container {
        height: 100% !important;
        margin-top: 15px;
    }
}
</style>
