<template>
    <es-form class="popup" v-if="visible" :style="style">
        <slot />
    </es-form>
</template>

<script lang="ts">
import { Component, Vue, Prop, Model } from "vue-property-decorator";
import EsForm from "./Form.vue"

export interface Point {
    x: string;
    y: string;
}

export interface Direction { top, left, right, bottom }

@Component({ components: { EsForm } })
export default class Popup extends Vue {
    visible: boolean = false;
    style: Partial<CSSStyleDeclaration> = {};

    public hide(e?: MouseEvent): void {
        if (!e || !this.$el.contains(e.target as Node)) {
            this.visible = false;
            document.removeEventListener("mousedown", this.hide);
        }
    }

    public show(point: Point = { x: "100%", y: "0" }) {
        const style: Partial<CSSStyleDeclaration> = {};
        style.left = point.x;
        style.top = point.y;
        this.style = style;
        // TODO: DIRECTION
        this.visible = true;
        document.addEventListener("mousedown", this.hide);
    }
}

</script>

<style scoped lang="scss">
.popup {
    position: absolute;
    margin-left: 10px;
    z-index: 100;
    box-shadow: 0px 3px 10px rgba(61, 70, 77, 0.15);
}
</style>
