<template>
    <div>
        <tab-bar class="preview-nav" v-model="tab">
            <tab icon="desktop_windows" name="simple" />
            <tab icon="phone_iphone" name="phone" />
            <tab icon="fullscreen" name="fullscreen" />
            <tab icon="open_in_new" name="open" @click="openInNew" selectable="false" />
        </tab-bar>
        <div class="outer" :style="outerStyle">
            <iframe class="inner" :style="innerStyle" />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import Compiler from "../core/framework/typescript/compiler";
import { BaseComponent, JSXCompiler, Page } from '../core/framework/client';
import JsxCompiler from '../core/framework/client/JsxCompiler';
import TabBar, { Tab } from "./TabBar.vue";
import less from "less";

@Component({ components: { TabBar, Tab } })
export default class Preview extends Vue {
    @Prop() public pages!: Page[];

    @Prop() public lessCode!: string;

    @Prop() public jsCode!: string;

    @Prop() public lessModel!: { [name: string]: any };

    @Prop({ default: "https://app.leadplan.ru/site/getscreenshot?id=5&sizecode=0" }) public backgroundImage!: string;

    @Prop() public position!: string;
    private widgets!: BaseComponent<any>[];

    private tab: Tab | null = null;

    private body!: HTMLElement;

    private head!: HTMLElement;

    private widget!: BaseComponent<any>;

    private mode: string = "simple";

    private innerStyle: object = {};

    private outerStyle = {
        backgroundImage: `url(${this.backgroundImage})`, backgroundRepeat: "no-repeat", backgroundSize: "100% auto", height: "500px"
    }

    private mobile!: boolean;

    private frame!: HTMLIFrameElement;

    protected get lessConst(): string {
        const lessModel = this.lessModel;
        return `@position: ${this.position};` + Object.keys(lessModel).map(variable => `@${variable}: ${lessModel[variable] !== void 0 ? lessModel[variable] : "0"}`).join(";") + ";";
    }

    protected async mounted(): Promise<void> {
        const iframe = this.$el.querySelector("iframe");
        if (iframe) {
            this.frame = iframe;
            const document = iframe.contentDocument;
            if (document) { this.body = document.body; this.head = document.head; }
        }
        if (!this.body) { throw new Error(); }
        window.addEventListener("resize", this.Relayout);
        this.compileHtml();
        this.compileLess();
        this.$nextTick(this.modeChanged);
    }

    @Watch("pages", { deep: true })
    @Watch("jsCode")
    protected compileHtml(): void {
        // try {
        const data = this.pages.map(page => ({ ...page, code: Compiler.compile(`return ${page.code}`) }));
        const { widget, context } = JSXCompiler.compile(data, Compiler.compile(`module LpTool { ${this.jsCode} }`));
        this.$emit("compiled", widget, context);
        if (this.widget) {
            JsxCompiler.update(this.widget, widget);
        } else {
            this.widget = widget;
            JsxCompiler.render(widget);
            this.body.appendChild(widget.element);
        }
    }

    @Watch("position")
    @Watch("lessModel", { deep: true })
    @Watch("lessCode")
    protected async compileLess(): Promise<void> {
        try {
            const head = this.head;
            const cssCode = (await less.render(this.lessConst + this.lessCode)).css;
            const styles = document.createElement("style");
            styles.type = "text/css";
            styles.innerHTML = cssCode;
            if (head.hasChildNodes()) { head.innerHTML = ""; }
            head.appendChild(styles);
        } catch (e) {
            console.log(e);
        }
    }

    public openInNew() {
        window.open("https://app.leadplan.ru");
        return;
    }

    @Watch("tab")
    public modeChanged(mode?: Tab): void {
        const widget = this.widget;
        const modeName = mode ? mode.name : "simple";
        if (mode) { this.mode = modeName; }
        const mobile = modeName == "phone";
        if (this.mobile !== mobile) {
            const element = widget.element;
            if (element) {
                const classList = (element as Element).classList;
                mobile ? classList.add("LP-mobile") : classList.remove("LP-mobile");
            }
        }
        this.mobile = mobile;
        this.Relayout();
    }


    public Relayout(): void {
        const { frame, mode } = this;
        const parent = frame.parentElement;
        if (frame && parent) {
            switch (mode) {
                case "fullscreen":
                    this.innerStyle = { border: "none" };
                    this.position = "flex-start, flex-start"
                    this.outerStyle.backgroundImage = "";
                    this.outerStyle.height = "500px";
                    break;
                case "phone":
                case "simple":
                    this.position = "flex-start, flex-start"
                    const clientWidth = parent.clientWidth;
                    const zoomFactor = clientWidth / 1280;
                    const height = 9 * clientWidth / 16;
                    this.outerStyle.height = height + "px";
                    this.outerStyle.backgroundImage = `url(${this.backgroundImage})`;
                    this.innerStyle = {
                        width: clientWidth / zoomFactor + "px",
                        height: height / zoomFactor + "px",
                        transform: `scale(${zoomFactor}, ${zoomFactor})`
                    };
                    break;
            }
        }
    }

    public beforeDestroy(): void {
        window.removeEventListener("resize", this.Relayout);
    }
}
</script>



<style lang="scss" scoped>
.outer {
    position: relative;
}
.inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // pointer-events: none;
    transform-origin: 0 0;
}
</style>

<style lang="scss">
$tab-color: #758192;
$active-tab-color: #3e4a59;

.preview-nav {
    .tab {
        color: $tab-color;
        &.active {
            color: $active-tab-color;
        }
    }
}
</style>
