<template>
    <LpForm>
        <div>
            <input type="radio" value="0" v-model="mutationType" />
            <label>Виджет в поп-апе</label>
            <br />
            <input type="radio" value v-model="mutationType" />
            <label>Виджет в контенте</label>
        </div>
        <div class="add-variable-block">
            <button class="add-variable" @click="showNewBlock">Добавить параметр</button>
            <popup class="variable-menu" ref="addNew">
                <div class="two-columns">
                    <auto-field
                        label="Название параметра"
                        :property="{ type: 'string' }"
                        v-model="hiddenProp.title"
                        change="titleChange"
                    />
                    <auto-field
                        label="Тип параметра"
                        :property="{ type: 'enum', values: ['string', 'integer', 'area', 'color', 'boolean', 'enum', 'image'] }"
                        v-model="hiddenProp.type"
                    />
                    <auto-field
                        v-if="hiddenProp.type=='enum'"
                        label="Значения"
                        :property="{ type: 'string'}"
                        v-model="hiddenProp.values"
                    />

                    <auto-field
                        label="Less переменная"
                        :property="{ type: 'string'}"
                        v-model="hiddenProp.name"
                    />
                    <auto-field
                        label="Вес в форме"
                        :property="{ type: 'integer'}"
                        v-model="hiddenProp.weight"
                    />
                </div>
                <div class="add-new-block">
                    <button class="add-new-button" @click="addNew">Добавить</button>
                </div>
            </popup>
        </div>
        <div class="two-columns">
            <div v-for="(property) in properties" :key="property.name">
                <label class="form-item">
                    <auto-field :property="property" v-model="value[property.name]">
                        <template v-slot:title>
                            <div class="title">
                                <popup class="variable-menu" :ref="'popup' + property.name">
                                    <div class="two-columns">
                                        <auto-field
                                            label="Название параметра"
                                            :property="{ type: 'string' }"
                                            v-model="property.title"
                                        />
                                        <auto-field
                                            label="Тип параметра"
                                            :property="{ type: 'enum', values: ['string', 'integer', 'area', 'color', 'boolean', 'enum', 'image'] }"
                                            v-model="property.type"
                                        />
                                        <auto-field
                                            v-if="property.type=='enum'"
                                            label="Значения"
                                            :property="{ type: 'string' }"
                                            v-model="property.values"
                                        />
                                        <auto-field
                                            label="Less переменная"
                                            :property="{ type: 'string'}"
                                            v-model="property.name"
                                        />
                                        <auto-field
                                            label="Вес в форме"
                                            :property="{ type: 'integer' }"
                                            v-model="property.weight"
                                            @change="weightChange"
                                        />
                                    </div>
                                    <div class="delete-button-block">
                                        <button
                                            class="delete-button"
                                            @click="deleteVariable(property)"
                                        >Удалить</button>
                                    </div>
                                </popup>
                                <span>{{ property.title || property.name }}</span>
                                <a @click="clickOptions(property.name)">
                                    <i class="material-icons options">settings</i>
                                </a>
                            </div>
                        </template>
                    </auto-field>
                </label>
            </div>
        </div>
    </LpForm>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, Model } from "vue-property-decorator";
// import Form from './editors/Form.vue';
import { IObjectProperty, IProperty } from "../core/scheme/components";
import InlineEditor from "@ckeditor/ckeditor5-build-inline";
import CKEditor from "@ckeditor/ckeditor5-vue";
import Popup from "./Popup.vue";
import LpForm from "./Form.vue";
import AutoField from "./form/AutoField.vue";
import { removeWhen } from '../core/framework/client/utils/arrays';

export enum WidgetType { subscribe, inline }

@Component({ components: { Popup, LpForm, AutoField } })
export default class StyleEditor extends Vue {
    public mutationType: any = WidgetType.subscribe;
    @Prop()
    public position: any;
    @Prop()
    public scheme!: IProperty[];
    @Prop()
    public value!: object;
    public hiddenProp = {} as IProperty;

    public get properties() {
        return this.scheme && this.scheme.sort((p1, p2) => p1.weight || 0 - (p2.weight || 0));
    }

    public titleChange(value: string, oldValue: string): void {
        delete this.value[oldValue];
    }

    public showNewBlock() {
        this.showPopup("addNew");
    }

    public addNew() {
        const hiddenProp = this.hiddenProp;
        if (hiddenProp.name) {
            this.scheme.push(this.hiddenProp);
            this.hiddenProp = {} as IObjectProperty;
            this.hidePopup("addNew");
        } else {
            alert("Не введено имя переменной");
        }
    }

    public weightChange(): void {
        this.$forceUpdate();
    }

    public deleteVariable(property: IProperty): void {
        const name = property.name;
        if (name) {
            this.value[name] = void 0;
            removeWhen(this.scheme, (property) => property.name === name);
        }
    }

    public clickOptions(name: string): void {
        this.showPopup("popup" + name);
    }

    public mounted(): void {
        console.log("mounted");
    }

    @Watch("value", { deep: true })
    public onChange(value: object): void {
        this.$emit("change", value);
        this.$emit("input", value);
    }

    @Watch("scheme", { deep: true })
    public changeScheme(value): void {
        this.$emit("changeScheme", value);
    }

    private showPopup(ref: string): void {
        const popups = this.$refs[ref];
        const popup = popups instanceof Array ? popups[0] : popups;
        if (popup instanceof Popup) { popup.show(); }
    }

    private hidePopup(ref: string): void {
        const popups = this.$refs[ref];
        const popup = popups instanceof Array ? popups[0] : popups;
        if (popup instanceof Popup) { popup.hide(); }
    }

}
</script>

<style lang="scss" scoped>
.form {
    button {
        background: #d2e9ff;
        color: #0080ff;
        border-radius: 6px;
        width: 210px;
        height: 40px;
        font-family: SF UI Display;
        font-size: 14px;
        border: none;
    }
    .add-new-block {
        display: flex;
        justify-content: center;
    }
    .add-variable-block {
        background: #ffffff;
        border-radius: 6px;
        height: 80px;
        display: flex;
        align-items: center;
        .add-variable {
            width: 210px;
            height: 40px;
        }
    }
    .variable-menu {
        width: 440px;
    }
    .two-columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & > * {
            width: 45%;
        }
    }

    .properties {
        .property {
            .form-item {
                .title {
                    display: flex;
                    position: relative;
                    justify-content: space-between;
                    .options {
                        color: #919aa8;
                        &:hover {
                            color: #333333;
                        }
                    }
                }
            }
        }
    }
}
</style>




