<template>
    <a @click="click" :class="[isActive ? 'active': '', 'tab']">
        <i v-if="icon" class="material-icons">{{icon}}</i>
        {{displayName}}
    </a>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Tab extends Vue {
    @Prop() public name!: string;

    @Prop() public displayName!: string;

    @Prop() public icon!: string;

    @Prop({ default: true }) public selectable!: boolean;

    public isActive: boolean = false;

    public click(): void { this.$emit("click", this); }

    public setActive(active: boolean): void {
        if (active) { this.$emit("activate", active); }
        this.isActive = active;
    }
}

</script>

<style scoped lang="scss">
.tab {
    cursor: pointer;
    user-select: none;
}
</style>
