<template>
    <div class="tabs">
        <slot />
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Model } from "vue-property-decorator";
import Tab from "./Tab.vue";

@Component
export default class TabBar extends Vue {
    private activeTab!: Tab;

    @Model("tabChange")
    private tab!: Tab;

    private tabs!: Tab[];

    public mounted(): void {
        const tabs = this.tabs = this.$children as Tab[];
        this.setActiveTab(tabs[0]);
        tabs.forEach((child) => child.$on("click", this.click));
    }

    public beforeDestroy(): void {
        this.$children.forEach((child) => child.$off("click", this.click));
    }

    protected setActiveTab(tab: Tab): void {
        if (this.activeTab) {
            this.activeTab.setActive(false);
        }
        this.activeTab = tab;
        tab.setActive(true);
    }

    protected click(tab: Tab) {
        if (tab.selectable) {
            this.setActiveTab(tab);
            this.$emit("tabChange", tab);
        }
    }
}

export { Tab };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>

<style lang="scss">
.tabs {
    .tab {
        padding: 15px;
    }
}
</style>
