<template>
    <div class="widget-maker">
        <div class="top-panel">
            <accordeon class="left-panel">
                <item name="Внешний вид">
                    <style-editor v-model="lessModel" :scheme="lessConfig" />
                </item>
                <item
                    v-for="(modelScheme, index) in modelSchemes"
                    :key="index"
                    :name="modelScheme.name"
                >
                    <json-editor v-model="modelScheme.model" :scheme="modelScheme.config.scheme" />
                </item>
                <!-- <item name="Содержимое">
                    <content-editor v-model="contentModel" :scheme="contentSchema" />
                </item>
                <item name="Содержимое подтверждения">
                    <content-editor v-model="lessModel" :scheme="lessSchema" />
                </item>-->
                <item name="Поведение">{{"Поведение"}}</item>
                <item name="Таргетинг">{{"Таргетинг"}}</item>
            </accordeon>
            <preview
                class="right-panel"
                :pages="pages"
                :jsCode="jsCode"
                :position="position"
                :lessCode="lessCode"
                :lessModel="lessModel"
                @compiled="compiled"
            />
        </div>
        <editor-panel>
            <monaco :lessVariables="lessModel">
                <monaco-tab
                    v-for="(page, index) in codePages"
                    :key="index"
                    name="html"
                    display-name="HTML"
                    lang="html"
                    :file="`code${index}.html`"
                    v-model="page.code"
                />
                <monaco-tab
                    name="less"
                    display-name="CSS/Less"
                    lang="less"
                    file="style.tsx"
                    v-model="lessCode"
                />
                <monaco-tab
                    name="js"
                    display-name="Javascript"
                    lang="typescript"
                    file="javascript.ts"
                    v-model="jsCode"
                />
                <!-- <div style="float: right">
                    <monaco-tab-dev
                        v-for="(page, index) in pages"
                        :key="page.name"
                        :name="'page' + index"
                        :display-name="'model' + index"
                        lang="json"
                        :file="`page-${index}.json`"
                        v-model="page.model"
                    />
                    <monaco-tab-dev
                        v-for="(config, index) in modelSchemes"
                        :key="index"
                        :name="'config' + index"
                        :display-name="'config' + index"
                        lang="json"
                        :file="`config-${index}.json`"
                        v-model="config.config.scheme"
                    />
                    <monaco-tab-dev
                        name="lessModel"
                        display-name="lessModel"
                        lang="json"
                        file="lessModel.json"
                        v-model="lessModel"
                    />
                    <monaco-tab-dev
                        name="lessConfig"
                        display-name="lessConfig"
                        lang="json"
                        file="lessConfig.json"
                        v-model="lessSchema"
                    />
                    <monaco-tab-dev
                        name="context"
                        display-name="context"
                        lang="json"
                        file="context.json"
                        v-model="context"
                    />
                </div>-->
            </monaco>
        </editor-panel>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import EditorPanel from "./EditorPanel.vue";
import Monaco, { Tab as MonacoTab } from "./Monaco.vue";
import MonacoTabDev from "./monaco/TabDevelopment.vue";
import Preview from "./Preview.vue";
import Variable, { Scheme } from "../utils/config/variable";
import Accordeon, { Item } from "./Accordeon.vue";
import JsonEditor from "./JsonEditor.vue";
import StyleEditor from "./StyleEditor.vue";
import Widget from "../defaults/widget";
import { Page } from '../core/framework/client';
import Builder, { Config } from '../core/scheme/builder';
import LpWidget from '../core/framework/client/components/LpWidget';
import LpPage from '../core/framework/client/components/LpPage';


@Component({ components: { EditorPanel, Monaco, MonacoTab, Preview, Accordeon, Item, JsonEditor, StyleEditor, MonacoTabDev } })
export default class WidgetMaker extends Vue {
    private builder = new Builder();
    public position: string = "flex-end, flex-end";
    public pages: Page[] = [{
        name: "Содержимое",
        code: Widget.code,
        model: Widget.model,
        id: "1"
    }, {
        name: "Подтверждение",
        code: "",
        success: true,
        model: Widget.model,
        id: "2"
    }];
    public configs: Config[] = [{
        pageId: "1",
        scheme: []
    }, {
        pageId: "2",
        scheme: []
    }];
    public jsCode: string = "";
    public lessCode: string = Widget.less;
    public schemes: Scheme[] = [];
    public lessModel: { [name: string]: any } = {};
    public lessConfig: Scheme = [];
    public context: object = {};

    public compiled(widget: LpWidget, context: object) {
        this.configs = this.builder.compiled(widget);
        this.context = context;
    }

    public get modelSchemes() {
        const configs = this.configs;
        return this.pages.map((page) => { return { name: page.name, model: page.model, config: configs.find((config) => config.pageId === page.id) } })
    }

    public get codePages() {
        return this.pages.filter((page) => !page.success).map((page) => page);
    }

    public mounted(): void {
        const $el = this.$el;
        $el.addEventListener("copy", (event: any) => {
            const clipboardData = event.clipboardData;
            if (clipboardData && event.target.className === "header") {
                clipboardData.setData("text/plain", JSON.stringify({
                    position: this.position,
                    pages: this.pages,
                    configs: this.configs,
                    jsCode: this.jsCode,
                    lessCode: this.lessCode,
                    lessModel: this.lessModel,
                    lessConfig: this.lessConfig
                }, null, 4));
                event.preventDefault();
            }

        });
        $el.addEventListener("paste", (event: any) => {
            const clipboardData = event.clipboardData;
            if (clipboardData && event.target.className === "header") {
                const data = clipboardData.getData("text/plain");
                if (data) {
                    const json = JSON.parse(data);
                    this.position = json.position;
                    this.pages = json.pages;
                    this.configs = json.configs;
                    this.jsCode = json.jsCode;
                    this.lessCode = json.lessCode;
                    this.lessModel = json.lessModel;
                    this.lessConfig = json.lessConfig;
                    event.preventDefault();
                }

            }
        });
    }
}
</script>

<style scoped lang="scss">
.widget-maker {
    .top-panel {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        .left-panel {
            width: 480px;
            margin: 30px;
        }
        .right-panel {
            flex: 1;
            min-width: 480px;
            margin: 30px;
        }
    }
}
</style>
