

<script lang="ts">
import { Component, Vue, Prop, Model, Watch } from "vue-property-decorator";
import Tab from "../Tab.vue";

@Component({ components: { Tab } })
export default class MonacoTab extends Tab {
    @Prop() public lang!: string;

    @Prop() public file!: string;

    @Model("change", { default: "" }) public value!: string;

    public change(value: string): void {
        this.$emit("change", value);
    }

    @Watch("value")
    public valueChange(value) {
        this.$emit("valueChange", value);
    }
}

</script>

<style scoped lang="scss">
</style>

<style scoped lang="scss">
$in-active-monaco-tab-color: #919aa8;

.tab {
    cursor: pointer;
    user-select: none;
    border-bottom: 2px transparent solid;
    padding: 15px;
    color: $in-active-monaco-tab-color;
    &.active {
        color: white;
        border-bottom-color: white;
    }
}
</style>
