

<script lang="ts">
import { Component, Vue, Prop, Model, Watch } from "vue-property-decorator";
import Tab from "../Tab.vue";
import shallowEqual from '../../core/framework/client/utils/shallowEqual';

@Component({ components: { Tab } })
export default class MonacoTabDevelopment extends Tab {
    @Prop() public lang!: string;

    @Prop() public file!: string;

    public value = "";

    @Model("changeJson", { default: {} }) public valueJson!: object;

    // @Watch("value")
    // public changeValue(value: string): void {

    // }

    // public change(value: string): void {
    //     this.value = value;
    // }

    public mounted() { this.value = JSON.stringify(this.valueJson, null, 4) }

    // @Watch("valueJson", { deep: true })
    // public changeValueJson(value): void {
    //     this.value = JSON.stringify(this.valueJson, null, 4);
    // }
}

</script>

<style scoped lang="scss">
</style>

<style scoped lang="scss">
$in-active-monaco-tab-color: #919aa8;

.tab {
    cursor: pointer;
    user-select: none;
    border-bottom: 2px transparent solid;
    padding: 15px;
    color: $in-active-monaco-tab-color;
    &.active {
        color: white;
        border-bottom-color: white;
    }
}
</style>
